@import "../base/variables";

.productos{
    padding-top: 30px;
    background-color: black;
    font-family: sans-serif;
    div{
        width: 200px;
        height: 330px;
        margin-bottom: 10px;
        text-align: center;
        margin-bottom: 20px;
        display: inline-block;
        padding: 0px;
        margin: 30px;
        h2{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 25px;
        
        }
        p{
            margin-bottom: 15px;
            font-family: sans-serif;
        }
        a{
            text-decoration: none;
            background-color: white;
            padding: 5px;
            color: black;
            border-radius: 5px;
            font-family: sans-serif;
        }
    }
    img{
        width: 200px;
        height: 200px;
    }

}

